body {
	margin: 0 auto;
	font-family:'Helvetica', 'Arial';
}

.navbar-default {
	background-color: #ffffff;
	border-color: #ffffff;
}

.navbar-default > .navbar-brand {
	color: rgba{}
}


.intro {
	width:700px;
	border:1px solid gray;
	border-radius:10px;
	position:relative;
	margin:5% auto auto auto;
	background-color:#ffff;
	padding:50px 60px 100px 60px;	
}

.quizArea {
	width:700px;
	border:1px solid gray;
	border-radius:10px;
	position:relative;
	margin:5% auto auto auto;
	background-color:#ffff;
	padding:50px 60px 100px 60px;
}

li {
	list-style:none;
}

#options {
	margin: 10px 0;
}

.next-question {
	margin-right:10px;
}

.btn {
	float:right;
	cursor:pointer;
	}
	
footer {
	width:800px;
	text-align:center;
	display:block;
	margin:15px auto 30px auto;
	font-size:0.5em;
	padding-top:50px;
	color:#777;
}

#video {
  width: 250px;
  height: 180px;
}



article {
    width: 80%;
    margin: auto;
    margin-top: 20px;
}