<div class="row quizArea" ng-show="inProgress">
	<div ng-show="!quizOver">
		<div class="col-xs-7">
			<div class="progress">
				<div class="progress-bar" role="progressbar" style="width:0%"></div>
			</div>
		</div>
		<div class="col-xs-5">
		</div>
		<div class="col-xs-7" ng-switch="type">
			<h4 id="question">{{question}}</h4>
			<div ng-switch-when="0">
				<ul id="options">
					<li ng-repeat="option in options">
						<label>
							<input type="radio" name="answer" value={{option}}>
					 {{option}}
						</label>
					</li>
				</ul>
			</div>
			
			<div ng-switch-when="1">
				<textarea class="form-control" rows="1" placeholder="IUPAC name"></textarea>
				<br>
			</div>
			
			<div ng-switch-when="3">
				<br>
				Instructions:<br>
				<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum</p>
				<br>
			</div>
		</div>
		
		<div class="col-xs-5" ng-switch="type">
			<div ng-switch-when="0">
				<img class="img-responsive" ng-src={{imgs}}>
			</div>
			<div ng-switch-when="1">
				<img class="img-responsive" ng-src={{imgs}}>
			</div>
			<div ng-switch-when="3" style="text-align:center">
				<video id="video" autoplay></video>				
				<div class="btn-group">
					<button class="btn btn-success" id="btnStart" onclick="start()" style="width:50px"><span class="glyphicon glyphicon-off"></span></button>  
					<button class="btn btn-info" id="btnRecord" style="width:50px"><span class="glyphicon glyphicon-play"></span></button>
					<button class="btn btn-danger" id="btnStop" style="width:50px"><span class="glyphicon glyphicon-stop"></span></button>
					<button class="btn btn-warning" id="btnPhoto" style="width:50px"><span class="glyphicon glyphicon-picture"></span></button>				
				</div>
				<canvas id="canvas" width="250" height="180" style="padding:5px 0px 0px 5px"></canvas>
			</div>
		</div>
		
		<div class="col-xs-7">
			<button class="btn btn-large btn-block btn-primary" ng-click="checkAnswer()" ng-show="answerMode">Submit</button>		
			<div ng-show="!answerMode">
				<button class="btn btn-large btn-block btn-primary" ng-click="nextQuestion()" class="next-question">Next</button>
				<span ng-show="correctAns" style="color:green; font-size:30px; font-weight:5px">Correct!</span>
				<span ng-show="!correctAns" style="color:red; font-size:30px; font-weight:5px">Incorrect :(</span>
			</div>
		</div>
	</div>
	
	<div ng-show="quizOver">
		<h4>Quiz is over. Score: {{score}}</h4>
		<button class="btn btn-large btn-block btn-primary" ng-click="reset()">Play Again!</button>
	</div>
	
</div>

<div class="intro" ng-show="!inProgress">	
	<h4>Stereochemistry</h4>
	<hr>
	<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum</p>
	<br>
	<br>
	<a class="btn btn-large btn-block btn-primary" id="startQuiz" ng-click="start()">BEGIN!</a>
</div>