  <section class="row">
		<ul class="nav nav-tabs">
			<li class="active"><a href="#nomenclature" role="tab" data-toggle="tab">Nomenclature</a></li>
			<li><a href="#stereochemistry" role="tab" data-toggle="tab">Stereochemistry</a></li>
			<li><a href="#reactions" role="tab" data-toggle="tab">Reactions</a></li>
		</ul>
		<div class="tab-content">
			<div class="tab-pane fade in active" id="nomenclature">
				<quiz>
			</div>
			<div class="tab-pane fade" id="stereochemistry">
				<quiz2>
			</div>
			<div class="tab-pane fade" id="reactions">
				<quiz3>
			</div>
		</div>				
	</section>



